body{
    background-color: rgb(5, 75, 180);
    font-family:Arial, Helvetica, sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.container{
    background-color:rgb(127, 223, 223);
    padding:30px;
    border-radius:10px;
    text-align: center;
    box-shadow:0 4px 8px rgba(0,0,0,0.5)
}.input-box{
    margin-bottom:15px;
}
input[type="text"]{
    width:calc(100%-22px);
    border:1px solid #555;
    border-radius: 5px;
    padding:10px;
}
.btn{
    display:flex;
    justify-content: space-between;
    margin-top:20px;
}
button{
    padding: 10px 10px;
    border:none;
    background-color :rgb(119, 116, 116);
    color:rgb(0, 0, 0);
    border-radius: 5px;
    font-size:16px;
}
button:hover{
    color:aqua;
    background-color: rgba(3,66,66,);
}
label{
    display:block;
    margin-bottom: 5px;
    color:#555
}
